<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img
        src="https://cdn.welovecinema.bnpparibas/sites/default/files/2020-06/Le%20Grand%20Rex.jpg"
        class="d-block mx-lg-auto img-fluid"
        alt="Bootstrap Themes"
        width="700"
        height="500"
        loading="lazy"
        style="border-radius: 20px;"
      />
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">
        Application gestion de cinema
      </h1>
      <p class="lead">
        Cette application vise à offrir aux clients la possibilité de réserver des billets de cinéma en ligne, leur permettant de le faire à tout moment, de n'importe où et de manière moins chronophage. 
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start" style="margin-top: 30px;">
        <button type="button" class="btn btn-success btn-lg px-4 gap-3" routerLink="/cinema">
          Liste des cinemas
        </button>
        <!-- <button type="button" class="btn btn-outline-secondary btn-lg px-4">
          Default
        </button> -->
      </div>
    </div>
  </div>
</div>
